/* whole page */
html, body {
    background-image: url('../images/rotGlobe.gif');
    background-repeat: no-repeat;
    background-size: 30%;
    background-attachment: fixed;
    background-position: center;
    background-color: #C8D5B9;
    height: 100%;
    margin: 0;
}

#content {
    background-color: rgba(200, 213, 185, 0.5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header icons */
header {
    position: fixed;
    top: 1em;
    right: 1em;
}

.icon {
    height: 30px;
}

/* about GeoChat */
#identity {
    text-align: center;
    font-family: "lato", sans-serif;
    color: #263E2D;
    text-shadow: 2px 2px 5px #4A7C59;
}

h1 {
    font-size: xxx-large;
    font-weight: 900;
    margin: 10px;
}

h2 {
    font-size: x-large;
    font-weight: 900;
    font-style: italic;
}

/* linkedin links */

/* Dropdown Button */
.linkedin {
    background: transparent;
    border-color: transparent;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.linkedin-links {
    display: none;
    position: absolute;
    background-color: #FAF3DD;
    min-width: 160px;
}

/* Links inside the dropdown */
.linkedin-links a {
    color: #263E2D;
    padding: 10px 16px;
    text-decoration: none;
    font-family: "lato", sans-serif;
    display: block;
}

/* Change color of dropdown links on hover */
.linkedin-links a:hover {
    color: #4A7C59;
}

/* Show the dropdown menu on hover */
.dropdown:hover .linkedin-links {display: block;}